.pokemonTableContainer {
    flex-grow: 1;
    width: 50vh;
    overflow-y: scroll;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    
    thead {
        background-color: #a9a9a9;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 2px 0 black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    } 
}


.hide {
    display: none;
}
