.homePageWrapper { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F2F2F2;

    header {
        text-align: center;
        font-size: 4rem;
        padding: 1rem;
        background-color: #262626;
        color: white;
    }

    main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        > * {
            margin: 4rem;
        }
        
        .tableAndCheckboxesContainer {
            display: flex;
            flex-direction: column;
            height: 70vh;
            width: 60vh;

            .checkboxRow {
                display: flex;
                justify-content: center;
            }
        } 
    } 

    footer {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 3rem;
        background-color: #262626;
        color: white;
        
        p {
            margin-right: 1rem;
        }
    }
}
