.cardContainer {
    width: 40vh;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 8px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;

    .cardHeader {
        display: flex;
        justify-content: space-between;

        font-size: 2rem;

        .name, .health {
            margin: 0.5rem 1rem;
            font-weight: 500;
        }

        .health::before {
            content: "HP";
            font-size: 0.75rem;
            font-weight: bold;
            margin-right: 0.2rem;
        }
    }

    .imgContainer {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 4px silver;
        background-image: url("/images/background.jpg");
        background-size: cover;

        img {
            height: 20vh;
        }
    }

    .moveRow {
        margin: 0 1rem;
        
        .moveMain {
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            font-weight: 500;

            p {
                margin-bottom: 0.25rem;
            }
        }

        .moveDescription {
            margin-top: 0;
        }
    }
}
