.cardContainer {
    width: 40vh;
    height: 60vh;
    background-color: #E3350D;
    border: solid 8px #FFCC01;
    border-radius: 1rem;

    .cardHeader {
        display: flex;
        justify-content: space-between;
    }

    .imgContainer {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 4px silver;
        background-image: url("/images/background.jpg");
        background-size: cover;
    }

    .moveRow {
        
        .moveMain {
            display: flex;
            justify-content: space-between;

            p {
                margin-bottom: 0.25rem;
            }
        }

        .moveDescription {
            font-size: 0.8rem;
            margin-top: 0;
        }
    }
}
